$banner-height: 460px;
$top-height: 80px;
$actions-height: 40px;
$hsbc-red-primary: #DB0011;
$page-width: 1250px;

.page-overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.35);
  z-index: 3;
  top: 0;
}

.top {
  position: relative;
  z-index: 5;
  height: $top-height;
  background-color: white;

  .top-content {
    width: $page-width;
    height: $top-height;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;

    img {
      height: 31px;
    }

    .top-menu {
      font-size: 19px;
      list-style: none;
      display: flex;

      li {
        padding-left: 30px;
        padding-right: 30px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
        transition: 0.2s;
        color: #747474;
      }

      li.active{
        color: #000000;
      }

      li:hover {
        color: #000000
      }
    }
  }

  .top-menu-details {
    position: absolute;
    background-color: #1e1e1e;
    width: 100%;
    z-index: 1000;
    top: $top-height;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .top-menu-details-container {
    width: $page-width;
    margin: auto;
    position: relative;

    .close-icon {
      cursor: pointer;
      position: absolute;
      right: 0;
      top: 0;
      transition: 0.2s;
    }

    .close-icon:hover {
      opacity: 0.6;
    }

    .top-menu-content {
      width: $page-width;
      margin: auto;
      color: white;

      .title {
        font-size: 30px;
      }

      .text {
        font-size: 16px;
        margin-top: 50px;
      }

      .scheduler{
        display: flex;
        font-family: UniversNext-light;

        .scheduler-day{
          width: 300px;
          margin-right: 20px;

          .title{
            font-size: 20px;
          }

          .divider{
            margin-top:10px;
            width: 200px;
            border-bottom: 1px solid #3d3d3d;
          }

          ul{
            padding: 0;
            list-style: none;
          }

          li{
            padding-bottom: 10px;

            .hour{
              display: inline-block;
              width: 40px;
              text-align: right;
              margin-right: 15px;
            }
          }

        }
      }
    }
  }
}

.banner {
  position: relative;
  background: url('../../assets/images/banner.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  color: white;
  height: $banner-height;
  box-shadow: 1px 0 0 1px rgba(0, 0, 0, .15);

  .banner-text {
    position: absolute;
    width: 1250px;
    z-index: 2;
    text-align: left;
    top: 175px;
    left: 0;
    right: 0;
    margin: auto;
    color: white;

    .banner-text-title {
      font-size: 40px;
      font-family: UniversNext-thin;
    }

    .banner-text-small {
      margin-top: 20px;
      font-size: 20px;
      width: 400px;
      line-height: 30px;
      font-family: UniversNext-thin;
    }
  }


}

.create-new-team-modal .modal-content {
  input, span {
    display: block;
    margin-top: 10px;
  }

  input {
    height: 23px;
    width: 100%;
  }

  .advanced-settings {
    margin-top: 30px;
  }

  .modal-buttons {
    margin-top: 30px;

    button {
      margin-right: 20px;
    }
  }
}
