@import "~@ng-select/ng-select/themes/default.theme.css";

$hsbc-red-primary: #DB0011;
$hsbc-grey: #DB0011;

$hsbc-btn-primary: $hsbc-red-primary;
$hsbc-btn-primary-hover: #AF000D;
$hsbc-btn-primary-pressed: #83000A;
$hsbc-btn-primary-disabled: #929292;

$hsbc-btn-secondary: #e8e8e8;
$hsbc-btn-secondary-hover: #d9d9d9;
$hsbc-btn-secondary-pressed: #b6b6b6;
$hsbc-btn-secondary-disabled: #929292;

@font-face {
  font-family: "UniversNext";
  src: url(assets/fonts/universnextforhsbc-regular.woff) format("woff");
}

@font-face {
  font-family: "UniversNext-light";
  src: url(assets/fonts/universnextforhsbc-light.woff) format("woff");
}

@font-face {
  font-family: "UniversNext-thin";
  src: url(assets/fonts/universnextforhsbc-thin.woff) format("woff");
}

@font-face {
  font-family: "UniversNext-ultrathin";
  src: url(assets/fonts/universnextforhsbc-ultralight.woff) format("woff");
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
  background-color: #f4f5f6;
  font-size: 13px;
  font-weight: normal;
  font-family: UniversNext, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content {
  padding: 30px;
  width: 1250px;
  margin: 20px auto auto;
}

.btn {
  text-decoration: none;
  padding: 12px 15px;
  font-size: 1rem;
  color: white;
  border: none;
  cursor: pointer;
  margin: 5px 0;

  &:disabled {
    cursor: default;
  }
}

.btn-primary {
  background: $hsbc-btn-primary;
  color: white;

  &:not(:disabled):hover {
    background: $hsbc-btn-primary-hover;
  }

  &:active {
    background: $hsbc-btn-primary-pressed;
  }

  &:disabled {
    background: $hsbc-btn-primary-disabled;
  }
}

.btn-secondary {
  background: $hsbc-btn-secondary;
  border: 1px solid $hsbc-btn-secondary;
  color: black;

  &:not(:disabled):hover {
    background: $hsbc-btn-secondary-hover;
  }

  &:active {
    background: $hsbc-btn-secondary-pressed;
  }

  &:disabled {
    background: $hsbc-btn-secondary-disabled;
  }
}

.modal-background {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .modal-box {
    position: relative;
    width: 500px;
    box-sizing: border-box;
    margin-top: 130px;
    background: white;

    .modal-title {
      background-color: $hsbc-red-primary;
      font-size: 16px;
      border-bottom: 1px solid #7d7d7d;
      display: flex;
      height: 20px;
      padding: 15px;
      color: white;

      .icon-close {
        position: absolute;
        right: 15px;
        cursor: pointer;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    .modal-content {
      padding: 20px;
      margin-top: 10px;
    }

  }
}

