
.scrollbar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(139, 139, 139, 0.3);
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #477ebd;
  border: 1px solid #555555;
}


.title {
  font-size: 30px;
  font-family: UniversNext-thin;
}

.plan {
  margin-top: 40px;
  width: 1250px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;

  .room {
    background-color: white;
    width: 400px;
    padding-bottom: 10px;
    margin-bottom: 60px;

    .room-img {
      width: 400px;
    }
  }

  .room-header {
    display: flex;
    justify-content: space-between;
    padding: 20px;

    .room-title {
      font-size: 25px;
      width: 250px;
      font-family: UniversNext-light;
    }

    .room-actions {

      a:hover {
        font-weight: bold;
      }

      img {
        margin-right: 3px;
        vertical-align: middle;
        width: 35px;
      }
    }
  }

  .divider {
    width: 80%;
    margin: auto auto 5px;
    height: 1px;
    background-color: #d2d2d2;
  }

  .attenders-loading {
    text-align: center;
    padding: 20px;
  }

  .room-attenders {
    padding-left: 20px;
    padding-right: 20px;
    max-height: 200px;
    overflow: auto;

    ul {
      list-style: none;
      padding: 0px;
    }

    li {
      img {
        width: 15px;
        vertical-align: sub;
        margin-right: 3px;
      }

      padding: 5px;
      font-size: 14px;
    }
  }
}
