<div>
  <div class="title">Rooms</div>

  <div class="plan">
    <div class="room room{{i}}" *ngFor="let room of rooms; let i = index">
      <img class="room-img" src="../../assets/images/{{room.image}}"/>
      <div class="room-header">
        <div class="room-title">{{room.name}}</div>
        <div class="room-actions">
          <a target="_blank" href="{{room.zoomUrl}}"><img src="../../assets/images/zoom-icon.jpg"/> Join zoom</a>
        </div>
      </div>
      <div class="divider"></div>
      <div *ngIf="room.participants.length === 0" class="attenders-loading">
        <img src="../../assets/images/loading.gif"/>
      </div>
      <div *ngIf="room.participants.length !== 0" class="room-attenders scrollbar">
        <ul>
          <li *ngFor="let participant of room.participants; let j = index">
            <img src="../../assets/images/user-icon.png"/>
              {{participant.user_name}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
